@model ArturCzarnecki_9807.Pacjent

@{
    ViewBag.Title = "Rejestracja";
}

<div class="container-registration">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2>Rejestracja</h2>
        <h4>Pacjent</h4>
        <div class="reg-item">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="reg-item">
            @Html.LabelFor(model => model.Haslo, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Haslo, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Haslo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="reg-item">
            @Html.LabelFor(model => model.Imie, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imie, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Imie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="reg-item">
            @Html.LabelFor(model => model.Nazwisko, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nazwisko, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Nazwisko, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="reg-item">
            @Html.LabelFor(model => model.KodPocztowy, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KodPocztowy, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.KodPocztowy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="reg-item">
            @Html.LabelFor(model => model.Miasto, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Miasto, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Miasto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="reg-item">
            @Html.LabelFor(model => model.Ulica, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ulica, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Ulica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="reg-item">
            @Html.LabelFor(model => model.Lokal, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lokal, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Lokal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="reg-item">
            @Html.LabelFor(model => model.NrTelefonu, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrTelefonu, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.NrTelefonu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stwórz" class="button" />
            </div>
        </div>
    }
</div>
 


    @* Dodac automatyczne wpisywanie Id Roli przy zapisie pacjenta *@
