@model IEnumerable<ArturCzarnecki_9807.Wizyta>

@{
    ViewBag.Title = "Wizyty";
    Layout = "~/Views/Layouts/PacjentLayout.cshtml";
}

<h2 style="text-align:center">Wizyty</h2>
<div class="col" style="width:100%">
    <table class="col1">
        <tr style="text-align:left">

            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Godzina)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Fizjoterapeuta.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fizjoterapeuta.NrTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fizjoterapeuta.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fizjoterapeuta.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Godzina)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Fizjoterapeuta.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fizjoterapeuta.NrTel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fizjoterapeuta.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fizjoterapeuta.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>

            </tr>
        }

    </table>
</div>