@model ArturCzarnecki_9807.Fizjoterapeuta
@{
    ViewBag.Title = "Rejestracja";
}
<div class="container-registration">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2>Rejestracja</h2>
        <h4>Fizjoterapeuta</h4>
        <div class="reg-item">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="reg-item">
            @Html.LabelFor(model => model.Haslo, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Haslo, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Haslo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="reg-item">
            @Html.LabelFor(model => model.Imie, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imie, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Imie, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nazwisko, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nazwisko, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Nazwisko, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="reg-item">
            @Html.LabelFor(model => model.NrFizjoterapeuty, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrFizjoterapeuty, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.NrFizjoterapeuty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="reg-item">
            @Html.LabelFor(model => model.KodPocztowy, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KodPocztowy, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.KodPocztowy, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="reg-item">
            @Html.LabelFor(model => model.Miasto, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Miasto, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.Miasto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="reg-item">
            @Html.LabelFor(model => model.CzyGabinet, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CzyGabinet)
                    @Html.ValidationMessageFor(model => model.CzyGabinet, "", new { @class = "textboxs" })
                </div>
            </div>
        </div>
        <div class="reg-item">
            @Html.LabelFor(model => model.NrTel, htmlAttributes: new { @class = "labels" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrTel, new { htmlAttributes = new { @class = "textboxs" } })
                @Html.ValidationMessageFor(model => model.NrTel, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "labels" })
            <div class="kolumna1">
                @Html.TextAreaFor(model => model.Opis, new { htmlAttributes = new { @class = "textOpis" } })
                @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="reg-item">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stwórz" class="button" />
            </div>
        </div>

    }
</div>
