<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/styles/MainStyles.css")

</head>
<body>
<div class="navigation">
    <ul class="ul-fizjo">
        <li><a href="@Url.Action("Index", "Home")" class="nav-el">Strona główna</a></li>
        <li><a href="@Url.Action("Main", "Fizjoterapeuta")" class="nav-el">Moje konto</a></li>
        <li><a href="@Url.Action("Godziny", "Fizjoterapeuta")" class="nav-el">Godziny pracy</a></li>
        <li><a href="@Url.Action("Miejsca", "Fizjoterapeuta")" class="nav-el">Miejsca</a></li>
        <li><a href="@Url.Action("Wizyty", "Fizjoterapeuta")" class="nav-el">Wizyty</a></li>
        <li><a href="@Url.Action("Wyloguj", "Fizjoterapeuta")" class="nav-el">Wyloguj</a></li>
    </ul>
</div>

@RenderBody()
<footer>
    <p>&copy; @DateTime.Now - Artur Czarnecki, wszelkie prawa zastrzeżone</p>
</footer>
</body>
</html>